.aboutContainer {
  width: 100%;
  height: 120vh;
}
.aboutChild {
  border: 30px solid white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-sizing: border-box;
}
.aboutBgDiv {
  width: 49%;
  height: 100%;
  background-image: url("../../gallery/gymPicBelowIntro.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.aboutMainDiv {
  /* border: 10px solid white; */
  width: 49%;
  height: 100%;
  background-color: #000;
}
.aboutHeader {
  text-align: left;
  margin: 20% 0% 0% 20%;
  color: aliceblue;
  font-size: 55px;
  font-weight: 1000;
  letter-spacing: 0em;
  animation: slideLeftIn 2s ease-in;
}
.aboutText {
  color: aliceblue;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin: 10% 20% 0% 20%;
  text-align: left;
  animation: slideLeftIn 3s ease-in;
}
@keyframes slideLeftIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


@media (max-width: 480px){
  .aboutChild {
    border: 10px solid white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    box-sizing: border-box;
  }
  .aboutBgDiv {
    width: 97%;
    height: 100%;
    background-image: url("../../gallery/gymPicBelowIntro.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* display: none; */
  }
  .aboutMainDiv {
    /* border: 10px solid white; */
    width: 97%;
    height: 100%;
    background-color: #000;
  }
  .aboutHeader {
    font-size: 5vh;
  }
  .aboutText {
    font-size: 2vh;
    margin-bottom: 5vh;
  }
}

@media (max-width: 768px){
  .aboutHeader {
    font-size: 4vh;
  }
  .aboutText {
    font-size: 2vh;
    margin-bottom: 5vh;
  }
}