/* Existing styles */

.classesContainer {
  width: 100%;
  height: auto;
  background-color: white;
  box-sizing: border-box;
}

.classesMain {
  border: 1px solid white;
  box-sizing: border-box;
  background-color: white;
  width: 100%;
  height: 100%;
}

.classesTitle {
  color: #5e3ad4;
  font-size: 55px;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.05em;
}

.batchesDiv {
  padding: 5%;
}

.batchesChildren {
  border-top: 2px solid #5e3ad4;
  height: auto;
  padding: 5% 5%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.batchesChildren > span {
  width: 45%;
  color: #391d94;
  font-size: 40px;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
}

.batchesChildren > p {
  width: 25%;
  text-align: right;
  color: #391d94;
  font-size: 25px;
}

.batchesChildren > button {
  /* width: 100%; Adjusted width for responsiveness */
  height: 40px;
  align-self: right;
  cursor: pointer;
  margin: auto;
}

.batchesChildren:last-child {
  border-bottom: 2px solid #5e3ad4;
}

@keyframes slideInBatches {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Responsive styles for tablet */
@media (max-width: 768px) {
  .batchesDiv {
    padding: 3%; /* Adjusted padding for responsiveness */
  }
}

/* Responsive styles for mobile */
@media (max-width: 480px) {
  .batchesDiv {
    padding: 2%; /* Further adjusted padding for smaller screens */
  }

  .batchesChildren {
    flex-direction: column; /* Stack children vertically on smaller screens */
    align-items: center;
  }

  .batchesChildren > span,
  .batchesChildren > p {
    width: 100%; /* Full width for text on smaller screens */
    text-align: center;
  }
}
