.joinUsContainer {
  background-color: transparent;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}
.joinUsMain {
  width: 30%;
  height: 60%;
  margin: 7.5% 20%;
  box-sizing: border-box;
}
.joinUsTitle {
    width: 90%;
  color: aliceblue;
  font-size: 45px;
  font-weight: 900;
}
.joinUsDescription {
  color: aliceblue;
  font-size: 19px;
  font-weight: 700;
  letter-spacing:0.001em;
}
.joinUsInputsDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.clientNameInput {
  text-decoration: none;
  border-radius: none;
  border: none;
  outline: none;
  font-size:19px;
  padding:6px 10px;
  background-color: #cec3ef;
}
.clientNameInput:focus{
  border: none;
  border-bottom: 2px solid rgb(36, 36, 93);
  color: rgb(201, 205, 207);
}
.clientNameInput::placeholder{
  font-size:2vh;
}
.clientNumberInput {
  text-decoration: none;
  border-radius: none;
  border: none;
  outline: none;
  font-size:19px;
  padding:6px 10px;
  background-color: #cec3ef;
  -moz-appearance: textfield; 
}
.clientNumberInput::-webkit-inner-spin-button,
.clientNumberInput::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Safari and Chrome */
  margin: 0; /* Removes the default margin */
}
.clientNumberInput:focus{
  border: none;
  border-bottom: 2px solid rgb(36, 36, 93);
  color: rgb(201, 205, 207);
}
.clientNumberInput::placeholder{
  font-size:2vh;
}
.joinUsSubmitBtn {
  text-decoration: none;
  color: aliceblue;
  background-color: #5e3ad4;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: -100;
  border-radius: 8%;
  cursor: pointer;
}
.joinUsSubmitBtn:hover{
    background-color: #d9d2ef;
    color: black;
}



/* Tablet Styles (max-width: 768px) */
@media only screen and (max-width: 768px) {
  .joinUsMain {
    width: 70%;
    margin: 10% 15%;
  }

  .joinUsTitle {
    font-size: 35px;
  }

  .joinUsDescription {
    font-size: 16px;
  }

  .clientNameInput,
  .clientNumberInput {
    font-size: 16px;
    padding: 6px 8px;
  }

  .joinUsSubmitBtn {
    font-size: 12px;
  }
}

/* Mobile Styles (max-width: 480px) */
@media only screen and (max-width: 480px) {
  .joinUsMain {
    width: 90%;
    margin: 15% 5%;
  }

  .joinUsTitle {
    font-size: 30px;
  }

  .joinUsDescription {
    font-size: 14px;
  }

  .clientNameInput,
  .clientNumberInput {
    font-size: 14px;
    padding: 6px 8px;
  }

  .joinUsSubmitBtn {
    font-size: 10px;
  }
}