.footerContainer{
    height: 120vh;
    width: 100%;
    background-color: azure;
}
.footerMain{
    height: 90%;
    /* margin-top:10%; */
    background-color: #5e3ad4;
}
.formContainer{
    /* border: 1px solid white; */
    width: 40%;
    margin-left: 10%;
    padding-top: 10% ;
    color:aliceblue ;
    /* margin: auto; */
}