.hrLine{
    color: aliceblue;
    width: 80%;
    margin-top: 10%;
    height: 2px;
    background-color: aliceblue;
}
.contactSpansContainer{
    margin: 5% 0%;
}
.contactSpans{
    color: aliceblue;
    letter-spacing: 0.09em;
}
.contactSpans a{
    text-decoration: none;
    color: aliceblue;
}