.sliding-carousel {
    overflow: hidden;
    position: relative;
    width: 100%; /* Adjust the width as needed */
    height: auto; /* Adjust the height as needed */
    background-color: white;
  }
  
  .carousel-container {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;
    animation: slide 7s linear infinite; /* Adjust animation duration as needed */
  }
  
  .carousel-item {
    flex: 0 0 25%; /* Adjust the width of each item as needed */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
  }
  .carousel-item img{
      width: 40vw;
      height: auto;
      overflow: hidden;
      transition: transform 0.3s;
  }
 .overlayPTag {
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 44%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Add a semi-transparent background */
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    opacity: 0; /* Initially, the overlay is hidden */
    transform: translateY(100%); /* Start offscreen below the image */
    transition: transform 0.3s, opacity 0.3s; /* Add animation transitions */
  }
  
 .overlayPTag p {
    color: #fff; /* Text color for the additional content */
  }
  
  .carousel-item:hover img {
    transform: scale(1.1); /* Zoom in the image on hover */
  }
  
  .carousel-item:hover .overlayPTag {
    opacity: 1; /* Show the overlay on hover */
    transform: translateY(0); /* Slide the overlay up from below */
  }
  @keyframes slide {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
 

  @media all and (max-width:480px){
    
  }