.button2{
    font-size: 2.61136712749616vh;
    width:80%;
    cursor: pointer;
    background-color:transparent ;
    border: 2px solid aliceblue;
    color: white;
    height: 6vh;
    overflow: hidden;
    position: relative;
    background: linear-gradient(45deg, #80c1ed, #391d94);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.button2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #391d94, #c5e3f6);
  opacity: 0.8;
  transform: translateX(-100%) translateY(-100%);
  animation: moveGradient 3s linear infinite;
}

@keyframes moveGradient {
  0% {
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(110%);
  }
}
  /* Responsive styles for smaller screens */
  @media all and (max-width: 768px) {
    .button2 {
      font-size: 2.150537634408602vh;
      height: 5.376344086021505vh;
    }
  }
  
  @media all and (max-width: 480px) {
      .button2{
    width: 90%;
      font-size: 1.8433179723502304vh;
      height: 4.608294930875576vh;
      letter-spacing: 0.09em;
    }
  }